#scene-3 .scene-content {
    -webkit-perspective: 37.5em;
    -moz-perspective: 37.5em;
    perspective: 37.5em;
    /*当为元素定义 perspective 属性时，其子元素会获得透视效果，而不是元素本身。*/
}
#scene-3 .scene-icon {
    /*top: -0.53125em;*/
    /*left: -8.59375em;*/
    top: 0;
    left: 0;
    width: 7em;
    height: 7.5em;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*preserve-3d 子元素将保留其 3D 位置。*/
}
#scene-3 .scene-3-icon-core {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-icon-a059cb5.png") no-repeat;
    background-size: 100% auto;
}
#scene-3 .scene-3-icon-track {
    z-index: 2;
    width: 9.28125em;
    height: 5.4375em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-track-abd8291.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0.875em;
    left: -1.15625em;
}
#scene-3 .scene-3-icon-moon {
    z-index: 3;
    width: 0.34375em;
    height: 0.34375em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-moon-50ed7f6.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 1.75em;
    left: -0.5625em;
}
.preserve3d #scene-3 .scene-3-icon-moon {
    display: none;
}
.preserve3d #scene-3 .scene-3-icon-round {
    width: 10em;
    height: 10em;
    margin: -5.15625em 0 0 -4.78125em;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(32deg) rotate(0) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(32deg) rotate(0) scale(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(32deg) rotate(0) scale(1);
}
.preserve3d #scene-3 .scene-3-icon-round-core {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -webkit-animation: round-revolution 10s linear 0s infinite normal none;
    -moz-animation: round-revolution 10s linear 0s infinite normal none;
    animation: round-revolution 10s linear 0s infinite normal none;
}
.preserve3d #scene-3 .scene-3-icon-round-moon {
    margin: 0 0 -0.1875em -0.1875em;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0.34375em;
    height: 0.34375em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-moon-50ed7f6.png") no-repeat;
    background-size: 100% auto;
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(-92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(-92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(-92deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -webkit-animation: round-rotation 10s linear 0s infinite normal none;
    -moz-animation: round-rotation 10s linear 0s infinite normal none;
    animation: round-rotation 10s linear 0s infinite normal none;
}
.preserve3d #scene-3.scene-state-out .scene-icon {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(25%) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -moz-transform: translateX(0) translateY(25%) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    transform: translateX(0) translateY(25%) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -webkit-transition: opacity 0.4s ease-in 0s, -webkit-transform 0.4s ease-in 0s;
    -moz-transition: opacity 0.4s ease-in 0s, -moz-transform 0.4s ease-in 0s;
    transition: opacity 0.4s ease-in 0s, transform 0.4s ease-in 0s;
}
.preserve3d #scene-3.scene-state-in .scene-3-icon-round-core,
.preserve3d #scene-3.scene-state-in .scene-3-icon-round-moon {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}
.preserve3d #scene-3.scene-state-in .scene-icon {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
    -webkit-transition: opacity 0.4s ease-out 0.3s, -webkit-transform 0.4s ease-out 0.3s;
    -moz-transition: opacity 0.4s ease-out 0.3s, -moz-transform 0.4s ease-out 0.3s;
    transition: opacity 0.4s ease-out 0.3s, transform 0.4s ease-out 0.3s;
}
#scene-3 .scene-3-icon-debris {
    z-index: 1;
    width: 7.09375em;
    height: 6.78125em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-debris-40fbde7.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.03125em;
    left: -0.375em;
}
#scene-3 .scene-3-icon-fragment {
    z-index: 1;
    -webkit-animation: cycle 15s linear 0s infinite normal none;
    -moz-animation: cycle 15s linear 0s infinite normal none;
    animation: cycle 15s linear 0s infinite normal none;
}
#scene-3.scene-state-out .scene-3-icon-fragment {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
#scene-3.scene-state-in .scene-3-icon-fragment {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}
#scene-3 .scene-3-icon-fragment-1 {
    width: 0.6875em;
    height: 0.71875em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-1-f9e86d8.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 4.71875em;
    left: -0.3125em;
}
#scene-3 .scene-3-icon-fragment-2 {
    width: 0.34375em;
    height: 0.71875em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-2-9c1bbcc.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 5.96875em;
    left: 0.71875em;
}
#scene-3 .scene-3-icon-fragment-3 {
    width: 0.5em;
    height: 0.53125em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-3-4d77ec7.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 7.71875em;
    left: 4.9375em;
}
#scene-3 .scene-3-icon-fragment-4 {
    width: 0.25em;
    height: 0.625em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-4-bdafed7.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 4.875em;
    left: 6.5em;
}
#scene-3 .scene-3-icon-fragment-5 {
    width: 0.40625em;
    height: 0.34375em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-5-e53eb92.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 4.59375em;
    left: 4.125em;
}
#scene-3 .scene-3-icon-fragment-6 {
    width: 0.25em;
    height: 0.34375em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-6-79a21d5.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 3.25em;
    left: 7.21875em;
}
#scene-3 .scene-3-icon-fragment-7 {
    width: 0.40625em;
    height: 0.46875em;
    background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-fragment-7-4ffd4f1.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.25em;
    left: 4em;
}
#scene-3 .scene-title {
    width: 9.8125em;
    height: 2.3125em;
    /*background: url("//liulanqi.baidu.com/theme/images/bg-scene-3-title-00f45fb.png") no-repeat;*/
    /*background-size: 100% auto;*/
}

@-webkit-keyframes round-revolution {
    0% {
        -webkit-transform: rotateX(92deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(92deg) rotateZ(360deg);
    }
}
@-moz-keyframes round-revolution {
    0% {
        -moz-transform: rotateX(92deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(92deg) rotateZ(360deg);
    }
}
@keyframes round-revolution {
    0% {
        transform: rotateX(92deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(92deg) rotateZ(360deg);
    }
}
@-webkit-keyframes round-rotation {
    0% {
        opacity: 1;
        -webkit-transform: rotateX(-90deg) rotateY(0deg);
    }
    25% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(-90deg) rotateY(360deg);
    }
}
@-moz-keyframes round-rotation {
    0% {
        opacity: 1;
        -moz-transform: rotateX(-90deg) rotateY(0deg);
    }
    25% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -moz-transform: rotateX(-90deg) rotateY(360deg);
    }
}
@keyframes round-rotation {
    0% {
        opacity: 1;
        transform: rotateX(-90deg) rotateY(0deg);
    }
    25% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-90deg) rotateY(360deg);
    }
}